@import '@fortawesome/fontawesome-svg-core/styles';
@import '@creativebulma/bulma-tooltip/src/sass/index';

$tabs-border-color: $border !default;
$tabs-border-style: solid !default;
$tabs-border-width: 1px !default;

:host {
  display: block;

  .tabs {
    border-bottom: $tabs-border-width $tabs-border-style $tabs-border-color;

    slot {
      -webkit-overflow-scrolling: touch;
      @include unselectable;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      @include mobile {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }

  ::slotted([slot='tab']) {
    margin-top: $tabs-border-width;
  }

  ::slotted([slot='tab']:not(:last-of-type)) {
    margin-right: 2px;

    @include mobile {
      margin-right: 0;
    }
  }

  .tab-contents {
    padding: $gap-size * 2 * 1px;
    border-left: $tabs-border-width $tabs-border-style $border;
    border-right: $tabs-border-width $tabs-border-style $border;
    border-bottom: $tabs-border-width $tabs-border-style $border;
  }
}
