//Tooltip
@import '@creativebulma/bulma-tooltip/src/sass/index';

:host {
  display: flex;

  .lang {
    flex: 1 1 0;
    margin-right: $column-gap * 0.7;

    div {
      display: flex;
      flex-direction: row;
      flex: inherit;
      flex-wrap: nowrap;
    }

    .delete {
      margin-right: $column-gap * 0.4;
    }
    p6-language {
      flex-grow: inherit;
    }
  }

  .translation {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    position: relative;

    &::after {
      content: '*';
      color: $danger;
      font-weight: $weight-bold;
      position: absolute;
      right: -$column-gap * 0.8;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;

    .lang {
      margin-right: 0;
      margin-bottom: $column-gap * 0.4;
    }
  }
}
