//Tooltip
@import '@creativebulma/bulma-tooltip/src/sass/index';

:host {
  display: block;

  p6-label[slot='label'] {
    p6-action {
      margin-left: $margin-gap;
    }
  }

  p6-translation-line {
    font-weight: $weight-normal;
  }
  
  p6-translation-line:not(:last-child) {
    margin-bottom: $column-gap;
  }
}
